h1 {
    font-size: xx-large;
    font-family: sans-serif;
    text-align: center;
}

li {
    font-size: large;
    font-family: sans-serif;
    background-color: turquoise;
    border: 1px solid black;
}

p {
    font-size: large;
    font-family: sans-serif;
}